
#toplink
{
background: #0033CC url('./images/topback.jpg') repeat left top;
}


#toplink form {padding:0; margin:0;}




#sidebar ,#secondsidebar
{
width: 215px;
}


#leftcontent 
{
width: 725px;
}
 








